@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::selection {
  background-color: #06742b;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
